<launch>
  <!-- rf2o_laser_odometry: 2D 激光帧间里程计，适配 LD-14P -->
  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen">
    <param name="laser_scan_topic" value="/scan"/>
    <param name="odom_topic" value="/odom_rf2o"/>
    <param name="publish_tf" value="false"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="odom_frame_id" value="odom_rf2o"/>
    <param name="init_pose_from_topic" value=""/>
    <param name="freq" value="10.0"/>
    <param name="verbose" value="false"/>
  </node>
</launch>
